:root {
  --clr-bg:rgb(185, 206, 237, 0.6);
  --clr-bg-half:rgb(185, 206, 237, 0.95);

  --clr-main-dark:#313c82;
  --clr-main-dark-dark:rgba(49, 60, 130, 0.5);
  --clr-main-dark-medium:rgba(49, 60, 130, 0.25);
  --clr-main-dark-light:rgba(49, 60, 130, 0.12);

  --clr-main-bright-solid:rgba(134, 251, 185);
  --clr-main-bright:rgba(134, 251, 185, 0.7);
  --clr-main-bright-medium:rgba(134, 251, 185, 0.25);
  --clr-main-bright-light:rgba(134, 251, 185, 0.12);

  --clr-accent-muted:#e45f56;
  --clr-accent-bright:#ebba40;
  --clr-accent-bright-half:rgba(235, 187, 64, 0.5);

  --clr-neutral-light:rgba(255, 255, 255, 0.9);

  --width-slideshow:60;
  --unit-width:1vw;
}

body {
  font-family: 'Space Mono', courier, monospace;
  color: var(--clr-main-dark);
  background-color: var(--clr-bg);
  font-size: 16px;
}
a {
  text-decoration-color: var(--clr-main-bright-solid);
  text-decoration-style: wavy;
  color: inherit;
  /* color: var(--clr-accent-muted); */
  font-weight: bolder;
}
a:hover {
  /* color: var(--clr-accent-bright); */
  text-decoration-color: var(--clr-accent-bright);
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 10vmin;
  z-index: 1;
}

#bands-list {
  text-align: center;
  font-size: 1.3em;
}
#bands-toggle {
  display: none;
}
header {
  color: var(--clr-main-bright-solid);
  text-align: center;
  padding-top: 1vh;
}
h1 {
  font-size: 5em;
  line-height: 1.2;
  font-weight: lighter;
}
h2 {
  font-size: 4em;
  line-height: 1;
  font-weight: bolder;
}
#wave,
#festival {
  font-style: italic;
  text-shadow: 0 0.1rem
    var(--clr-bg),
      0.1rem 0
        var(--clr-bg),
          0 -0.1rem var(--clr-bg),
              -0.1rem 0 var(--clr-bg),
                  -0.2rem 0 var(--clr-main-dark-medium),
                      0 0.2rem
                        var(--clr-main-dark-light),
                          0.2rem 0
                            var(--clr-main-dark-medium),
                              -0.15rem -0.15rem
                                var(--clr-accent-muted), 0.15rem 0.15rem var(--clr-accent-muted);
  -webkit-text-stroke-color: var(--clr-main-dark-light);
  -webkit-text-stroke-width: 0.1rem;
}

main {
  margin-left: auto;
  margin-right: auto;
}
main h3 {
  font-style: italic;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 1.4;
  text-align: center;
  padding-top: 4vh;
}
.orange {
  color: var(--clr-accent-muted);
  text-shadow: 2px 0 var(--clr-main-bright);
}
.lowercase {
  text-transform: lowercase;
}
strong {
  font-weight: bold;
}
h4,
h5 {
  text-align: center;
  font-weight: bolder;
  text-shadow: 0 0.07rem
    var(--clr-bg),
      0 -0.07rem var(--clr-bg),
          0.07rem 0
            var(--clr-accent-muted),
              -0.07rem -0.07rem var(--clr-main-bright), 0.07rem 0.07rem var(--clr-main-bright);
}
h4 {
  font-size: 1.4em;
  padding-top: 3vh;
}

.background {
  z-index: -10;

  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;

  height: 100vh;
  width: 100vw;
}

.circle {
  position: absolute;

  background-color: var(--clr-main-bright-light);
  border-radius: 100%;
}

.large {
  width: 90vmin;
  height: 90vmin;

  bottom: -6vmin;
  right: -6vmin;
}

.small {
  width: 46vmin;
  height: 46vmin;

  top: -18vmin;
  left: -18vmin;
}

  #bands-toggle {
    display: inline;
  }
  #bands-slideshow {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--clr-accent-bright);
    height: 100vh;
    width: calc(var(--width-slideshow) * var(--unit-width));
    padding-top: 10vh;
    z-index: 29;
    font-size: 1.8em;
    transition: left 1s;
    overflow: hidden;
  }
  #holder {
    height: 60vw;
    width: 1000000vw;
    transition: left 1s;

    position: relative;
    left: 0;
    top: 0;
  }
  #holder div {
    float: left;
    width: calc(var(--width-slideshow) * var(--unit-width));
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slide-1 {
    background-image: url(images/Centrosaurus_dinosaur.png);
  }
  .slide-2 {
    background-image: url(images/Hollanda_luceria_2021.jpg);
  }
  .slide-3 {
    background-image: url(images/Lambeosaurus_magnicristatus_DB.jpg);
  }
  .slide-4 {
    background-image: url(images/Macronaria_scrubbed_enh.jpg);
  }
  .slide-5 {
    background-image: url(images/Ornithopods_jconway.jpg);
  }
  .slide-6 {
    background-image: url(images/Pasta-Brontosaurus.jpg);
  }

  #bands-slideshow a {
    display: block;
    margin-bottom: 0.5vh;
  }
  #bands-toggle a {
    position: fixed;
    right: 2em;
    top: 2em;
    z-index: 30;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
  }

  #steps {
    position: absolute;
    bottom: 2em;
    right: 0;
    width: calc(var(--width-slideshow) * var(--unit-width));
    z-index: 100;

    text-align: center;

    overflow: hidden;
  }

  #steps a {
    text-decoration: none;
  }

  #prev, #next {
    position: absolute;
    bottom: 2em;
  }
  #prev {
    left: 1em;
  }
  #next {
    right: 0;1em
  }

  /* navigation & toggle motion */
  .close {
    transform: translateX(100%);
  }
  .open {
    transform: translateX(0%);
  }
  #bands-slideshow,
  #bands-toggle {
    transition: translate 0.5s ease;
  }


  @media screen and (min-width: 48rem) {
    /* :root {
      --width-slideshow: 60;
    } */

  .container {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  header {
    display: flex;
    justify-content: center;
    gap: 0;
    align-items: center;
    padding: 0 4vw;
  }

  main {
    max-width: 30rem;
    margin: 0;
    padding-left: 2vw;
  }
  h1,
  h2 {
    word-break: break-all;
    width: 1em;
  }
  h1 {
    font-size: 18vh;
  }
  h2 {
    font-size: 11vh;
  }
}

svg {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  overflow: hidden;
}

path {
  stroke-linecap: round;
  fill: none;
}

.a {
  stroke: var(--clr-main-dark-light);
  stroke-width: 0.1rem;
}
.b {
  stroke: var(--clr-main-dark-light);
  stroke-width: 0.05rem;
}
.c {
  stroke: var(--clr-main-dark-light);
  stroke-width: 0.3rem;
}
